html {
	min-height: 100vh;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.metal {
	background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  margin: 0;
  padding: 15px;
}

.loginScreen {
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    border-radius: 20px;
}

.login-input {
  text-align: center;
}

.logos {
  font-family: 'Bangers', cursive;
}

.down {
  margin-top: 50px;
}

.table-space {
  padding-right: 30px;
  padding-left: 0px;
}