html {
	min-height: 100vh;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.metal {
	background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  margin: 0;
  padding: 15px;
}