<header>
  <nav>
    <div class="nav-wrapper indigo darken-4">
      <a ng-href="#!/home" class="brand-logo center"><img src="../images/logoname.png"></a>
    </div>
  </nav>
  <div ng-repeat="workout in workoutArr">
    <h5 class="metal indigo-text">{{workout.name}}<br>Day {{workout.day}}<br>{{workout.goal}}</h5>
  </div>
</header>

<div class="container">
  <main>
    <label class="indigo-text text-darken-4">Muscle Group</label>
    <div input-field>
        <select class="" ng-model="muscleGroup" material-select watch ng-change="fetchExercises(muscleGroup)">
          <option value="" disabled selected>Choose Your Targeted Muscle Group</option>
          <option value="Chest">Chest</option>
          <option value="Back">Back</option>
          <option value="Shoulders">Shoulders</option>
          <option value="Arms">Arms</option>
          <option value="Abs">Abs</option>
          <option value="Legs">Legs</option>
        </select>
    </div>

    <div class="row">
      <div class="col s6 m4" ng-repeat="exercise in exercises">
        <div class="card" ng-click="nextPage(exercise.name)">
          <div class="card-content indigo darken-4 white-text">
            <span class="card-title">{{exercise.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>