<h1>Create Workout</h1>

<div>
  <div class="row">
    <div class="input-field col s12">
      <input placeholder="1" id="day" type="number" class="validate" ng-model="createWorkout.day">
    </div>
  </div>


  <label>Muscle Group</label>
  <select ng-model="createWorkout.muscle_group" ng-change="fetchExercises(createWorkout.muscle_group)">
<!--     <option value="" disabled selected>Choose your option</option> -->
    <option value="Chest">Chest</option>
    <option value="Back">Back</option>
    <option value="Shoulders">Shoulders</option>
    <option value="Biceps">Biceps</option>
    <option value="Triceps">Triceps</option>
    <option value="Abs">Abs</option>
    <option value="Quads">Quads</option>
    <option value="Hamstrings">Hamstrings</option>
    <option value="Calves">Calves</option>
  </select><br>

  <div class="row">
    <div class="input-field col s12">
      <input placeholder="Muscle Growth" id="goal" type="text" class="validate" ng-model="createWorkout.goal">
    </div>
  </div>

</div><br><br>

<footer class="fixed-bottom">
	<button ng-click="cancelWorkoutCreation()">Cancel</button>
	<button ng-click="saveWorkout()">Next</button>
</footer>

