<nav>
  <div class="nav-wrapper indigo darken-4">
    <a ng-href="#!/home" class="brand-logo">WORKOUT</a>
    <ul class="right">
      <li><a ng-href="#!/create-workout"><i class="material-icons yellow-text text-accent-4">add</i></a></li>
    </ul>
    <ul class="left">
      <li ng-click="logout()"><a ng-href="#!/" class="yellow-text text-accent-4">Logout</a></li>
    </ul>
  </div>
</nav>

<h5 class="metal indigo-text">New</h5>
<div class="container">
  <div class="row">
    <div class="col s6 m4" ng-repeat="myWorkout in myWorkouts">
      <a ng-href="#!/view-workout/{{myWorkout.id}}"><div class="card small" ng-show="myWorkout.isCompleted === false">
          <div class="card-image">
            <img src="../images/card-background2.jpg">
            <span class="card-title z-depth-5 yellow-text text-accent-4">{{myWorkout.date}}</span>
          </div>
        <div class="card-content">
            <h6 class="indigo-text text-darken-4">{{myWorkout.goal}}</h6>
        </div>
        <div class="card-action">
          <a ng-click="deleteWorkout(myWorkout.id, myWorkout.uid)" ng-href="#!/home" class="yellow-text text-accent-4">Delete</a>
        </div>
      </div></a>
    </div>
  </div>
</div>

<h5 class="metal indigo-text">Completed</h5>
<div class="container">
  <div class="row">
    <div class="col s6 m4" ng-repeat="myWorkout in myWorkouts">
      <a ng-href="#!/view-workout/{{myWorkout.id}}"><div class="card small" ng-show="myWorkout.isCompleted === true">
          <div class="card-image">
            <img src="../images/card-background2.jpg">
            <span class="card-title z-depth-5 yellow-text text-accent-4">{{myWorkout.date}}</span>
          </div>
        <div class="card-content">
            <h6 class="indigo-text text-darken-4">{{myWorkout.goal}}</h6>
        </div>
        <div class="card-action">
          <a ng-click="deleteWorkout(myWorkout.id, myWorkout.uid)" ng-href="#!/home" class="yellow-text text-accent-4">Delete</a>
        </div>
      </div></a>
    </div>
  </div>
</div>