<div class="container">
  <div class="row down">
    <div class="col s4 offset-l3">
      <img src="../images/logo.png">
    </div>
  </div>
    <section class="user-form">
      <div input-field class="login-input">
        <input type="email" ng-model="account.email">
        <label class="indigo-text text-darken-4">Email</label>
      </div>
      <div input-field class="login-input">
        <input type="password" ng-model="account.password">
        <label class="indigo-text text-darken-4">Password</label>
      </div>
      <div>
        <a class="login btn indigo darken-4 yellow-text text-accent-4" ng-click="login()">Log in</a>
        <a class="logout btn indigo darken-4 yellow-text text-accent-4" ng-click="register()">Register</a>
      </div>
    </section>
</div>