<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Workout</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a ng-href="#!/home">Home</a></li>
      <li><a ng-href="#!/create-workout">Create Workout</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a ng-href="#!/home">Home</a></li>
      <li><a ng-href="#!/create-workout">Create Workout</a></li>
    </ul>
  </div>
</nav>