<nav>
  <div class="nav-wrapper indigo darken-4">
    <a href="#!" class="brand-logo">Workout</a>
    <a class='dropdown-button' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a ng-href="#!/home">Home</a></li>
      <li><a ng-href="#!/create-workout">Create Workout</a></li>
    </ul>
    <ul id='demoDropdown' class='dropdown-content'>
      <li><a ng-href="#!/home">Home</a></li>
      <li><a ng-href="#!/create-workout">Create Workout</a></li>
    </ul>
  </div>
</nav>