<header>
  <nav>
    <div class="nav-wrapper indigo darken-4">
      <a ng-href="#!/home" class="brand-logo">WORKOUT</a>
      <ul class="left">
        <li><a ng-click="goBack()"><i class="material-icons yellow-text">arrow_back</i></a></li>
      </ul>
    </div>
  </nav>
  <div ng-repeat="workout in workoutArr">
    <h5 class="metal indigo-text">Day {{workout.day}}<br>{{workout.date}}<br>{{workout.goal}}</h5>
  </div>
</header>

<div class="container">
  <main>
    <div ng-repeat="exercise in workoutExercisesArr">
      <div class="row">
        <div class="col s12">
          <div class="card white">
            <div class="card-content indigo-text">
              <h6>{{exercise.name}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <nav class="row">
    <div class="nav-wrapper yellow accent-4 col s12">
      <ul class="left">
        <li><a ng-click="cancelCreateWorkout()"><span class="indigo-text">Cancel</span></a></li>
      </ul>
      <ul class="brand-logo">
        <li><a ng-click="saveUserExercises()"><span class="indigo-text">Save</span></a></li>
      </ul>
      <ul class="right">
        <li><a ng-click="addExercises()"><span class="indigo-text">Add Exercise</span></a></li>
      </ul>
    </div>
  </nav>
</div>