<header>
  <nav>
    <div class="nav-wrapper indigo darken-4">
      <a ng-href="#!/home" class="brand-logo center"><img src="../images/logoname.png"></a>
      <ul class="left">
        <li><a ng-click="cancelCreateWorkout()"><i class="material-icons yellow-text text-accent-4">cancel</i></a></li>
      </ul>
      <ul class="right">
        <li><a ng-click="saveUserExercises()"><i class="material-icons yellow-text text-accent-4">save</i></a></li>
      </ul>
    </div>
  </nav>
  <div ng-repeat="workout in workoutArr">
    <h5 class="metal indigo-text text-darken-4">{{workout.name}}<br>Day {{workout.day}}<br>{{workout.goal}}</h5>
  </div>
</header>

<div class="container">
  <main>
    <div ng-repeat="exercise in workoutExercisesArr">
      <div class="row">
        <div class="col s12">
          <div class="card indigo darken-4">
            <div class="card-content white-text">
              <h5>{{exercise.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div class="row">
    <div class="col s4 offset-s5">
      <a ng-click="addExercises()" class="btn-floating btn-large waves-effect waves-light yellow accent-4 pulse"><i class="material-icons"><span class="indigo-text text-darken-4">add</span></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col s10 offset-s2">
      <h4 class="indigo-text text-darken-4">Add Exercises To Your Workout</h4>
    </div>
  </div>

</div>

