<div ng-repeat="workout in workoutArr">
	<div class="row">
    <div class="col s12 m6">
      <div class="card  indigo lighten-4">
        <div class="card-content white-text">
			    <h2>Day {{workout.day}}</h2>
			    <h4>{{workout.muscle_group}}</h4>
			    <h4>{{workout.goal}}</h4>
				</div>
      </div>
    </div>
  </div>
</div>

<div ng-repeat="exercise in workoutExercisesArr">
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <h2>{{exercise.name}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="fixed-bottom">
	<button ng-click="cancelCreateWorkout()">Cancel</button>
  <button ng-click="saveUserExercises()">Save</button>
	<button ng-click="addExercises()">Add Exercise</button>
</footer>