<div class="container">
	<div class="row">

		<div class="card col s4">
			<div class="col s12">
				<h5>Set 1</h5>
			</div>
			<div input-field class="col s6">
			  <label>Reps:</label>
			  <input type="number" ng-model="exercise.reps1" length="3">
			</div>
			<div input-field class="col s6">
			  <label>Weight:</label>
			  <input type="number" ng-model="exercise.wt1" length="3">
			</div>
		</div>

		<div class="card col s4">
			<div class="col s12">
				<h5>Set 2</h5>
			</div>
			<div input-field class="col s6">
			  <label>Reps:</label>
			  <input type="number" ng-model="exercise.reps2" length="3">
			</div>
			<div input-field class="col s6">
			  <label>Weight:</label>
			  <input type="number" ng-model="exercise.wt2" length="3">
			</div>
		</div>

		<div class="card col s4">
			<div class="col s12">
				<h5>Set 3</h5>
			</div>
			<div input-field class="col s6">
			  <label>Reps:</label>
			  <input type="number" ng-model="exercise.reps3" length="3">
			</div>
			<div input-field class="col s6">
			  <label>Weight:</label>
			  <input type="number" ng-model="exercise.wt3" length="3">
			</div>
		</div>

	</div>
<button ng-click="saveMyWorkout()">Save</button>
</div>
