<header>
  <nav>
    <div class="nav-wrapper indigo darken-4">
      <a ng-href="#!/home" class="brand-logo">WORKOUT</a>
      <ul class="left">
        <li><a ng-click="goBack()"><i class="material-icons yellow-text">arrow_back</i></a></li>
      </ul>
    </div>
  </nav>
  <div ng-repeat="workout in workoutArr">
    <h5 class="metal indigo-text text-darken-4">Day {{workout.day}}<br>{{workout.date}}<br>{{workout.goal}}</h5>
  </div>
</header>

  <div class="row" ng-hide="exercise.isCompleted === true">
    <div class="col s12 m6" ng-repeat="exercise in workoutExercisesArr">
      <div class="card indigo darken-4">
        <div class="card-content">
        	<span class="card-title white-text"><strong>{{exercise.name}}</strong></span>
          <a class="btn halfway-fab waves-effect waves-light yellow accent-4 indigo-text text-darken-4" ng-click="startExercise(exercise.exerciseId)"><strong>Start Exercise</strong></a>
        </div>
      </div>
    </div>
  </div>