<header>
  <nav>
    <div class="nav-wrapper indigo darken-4">
      <a ng-href="#!/home" class="brand-logo"><img src="../images/logoname.png"></a>
      <ul class="right">
        <li><a ng-href="#!/create-workout"><i class="material-icons yellow-text">add</i></a></li>
      </ul>
      <ul class="left">
        <li><a ng-click="goBack()"><i class="material-icons yellow-text">arrow_back</i></a></li>
      </ul>
    </div>
  </nav>
  <div ng-repeat="workout in workoutArr">
    <h5 class="metal indigo-text">Day {{workout.day}}<br>{{workout.date}}<br>{{workout.goal}}</h5>
  </div>
</header>

<div ng-repeat="ex in exerciseArr">
<div class="row">
    <div class="col s12">
      <div class="card white indigo-text">
        <h5>{{ex.name}}</h5>
        <div class="card-content flex-set">
          <div class="sleep col s4">
            <h6>Set 1</h6>
            <div>
              <div>
                <label>Reps: </label>
                <input type="number" ng-model="completedExercise.compReps1" style="width: 3em"><span>/ {{ex.planReps1}}</span>
              </div>
              <div>
                <label>Wt: </label>
                <input type="number" ng-model="completedExercise.compWt1" style="width: 3em"><span>/ {{ex.planWt1}}</span>
              </div>
            </div>
          </div>
          <div class="sleep col s4">
            <h6>Set 2</h6>
            <div>
              <div>
                <label>Reps: </label>
                <input type="number" ng-model="completedExercise.compReps2" style="width: 3em"><span>/ {{ex.planReps2}}</span>
              </div>
              <div>
                <label>Wt: </label>
                <input type="number" ng-model="completedExercise.compWt2" style="width: 3em"><span>/ {{ex.planWt2}}</span>
              </div>
            </div>
          </div>
          <div class="sleep col s4">
            <h6>Set 3</h6>
            <div>
              <div>
                <label>Reps: </label>
                <input type="number" ng-model="completedExercise.compReps3" style="width: 3em"><span>/ {{ex.planReps3}}</span>
              </div>
              <div>
                <label>Wt: </label>
                <input type="number" ng-model="completedExercise.compWt3" style="width: 3em"><span>/ {{ex.planWt3}}</span>
              </div>
            </div>
          </div>
          <div class="sleep col s4">
            <h6>Set 4</h6>
            <div>
              <div>
                <label>Reps: </label>
                <input type="number" ng-model="completedExercise.compReps4" style="width: 3em"><span>/ {{ex.planReps4}}</span>
              </div>
              <div>
                <label>Wt: </label>
                <input type="number" ng-model="completedExercise.compWt4" style="width: 3em"><span>/ {{ex.planWt4}}</span>
              </div>
            </div>
          </div>
          <div class="sleep col s4">
            <h6>Set 5</h6>
            <div>
              <div>
                <label>Reps: </label>
                <input type="number" ng-model="completedExercise.compReps5" style="width: 3em"><span>/ {{ex.planReps5}}</span>
              </div>
              <div>
                <label>Wt: </label>
                <input type="number" ng-model="completedExercise.compWt5" style="width: 3em"><span>/ {{ex.planWt5}}</span>
              </div>
            </div>
          </div>
          <div class="sleep col s4">
            <h6>Set 6</h6>
            <div>
              <div>
                <label>Reps: </label>
                <input type="number" ng-model="completedExercise.compReps6" style="width: 3em"><span>/ {{ex.planReps6}}</span>
              </div>
              <div>
                <label>Wt: </label>
                <input type="number" ng-model="completedExercise.compWt6" style="width: 3em"><span>/ {{ex.planWt6}}</span>
              </div>
            </div>
          </div>

        <a class="btn yellow indigo-text" ng-click="saveCompletedExercise(ex.name)">Done</a>
        </div>


      </div>
    </div>
  </div>

</div><!-- END CONTAINER -->